<div class="form-group" [formGroup] ="form">
    <label [attr.for]="question.key">
      {{question.label}}
      <span class="errorMessage" *ngIf="isDirtyAndNotValid">*</span>
    </label>
  <div [ngSwitch] ="question.controlType | lowercase">
    
    <input  class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type] ="question.type" />
    
    <select class="form-control" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">
        {{opt.value}}
        <span class="errorMessage" *ngIf="isDirtyAndNotValid">*</span></option>
    </select>
  
  </div>
  

</div>