<h1>About Us</h1>
<p>
  The Valencia Summit Seals Swim Team is a 501(c) non-profit organization
  promoting both teamwork and individual accomplishment for youth in our
  community.  The swim team Board of Directors reports to the Valencia
  Summit Homeowners Association (HOA) Board of Directors.  For more
  information about the Valencia Summit HOA, please visit
  <a href="{{summithoalink}}">{{summithoalink}}</a>.
</p>
<h3>Contact the Summit Seals Board of Directors</h3>

<h3>Contact the Webmaster for Technical Issues</h3>
