li {
  display: inline;
}

.navbar .mainimage {
  width: 200px;
  height: 100px;
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(../../assets/img/menu-icon.png) center;
}

nav li:hover{ 
  background: #008000;
}

a:hover#menu-icon {
	background-color: #444;
	border-radius: 4px 4px 0 0;
}

#menu-icon {
  display:none;
}
 
@media only screen and (max-width:640px) {
  /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
  #menu-icon {
		display:inline-block;
  }

  .navbar .mainimage {
    width: 80px;
    height: 40px;
  }
  
  .navbar-brand {
    display: none;
  }

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 5px;
		background: rgba(53, 53, 53, 0.9);
		border: 5px solid #444;
		left: 5px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:click ul {
		display: block;
	}
}
