<app-scrolling-panel *ngIf="!moreDetails" style="height:100%;width:100%; background-color:gray;">
  <div *ngFor="let event of events" sBody>
    <app-event-row [eventWatcher]="EventDetails" (moreDetails)="showEventDetails($event)" [eventData]="event"></app-event-row>
  </div>
</app-scrolling-panel>
<app-scrolling-panel *ngIf="moreDetails">
  <div sBody>
  <app-event-more-details style="width:100%;height:100%" (lessDetails)="showEventDetails($event)" [eventData]="currentEvent"
    [eventWatcher]="EventDetails"></app-event-more-details>
  </div>
</app-scrolling-panel>