<div>
    <app-mat-expandingboxwrapper class="header" [allowExpansion]="false" [cols]="mobileQuery.matches ? 2 : 4"
        rowHeight="25em">
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:green">
            <img src="assets/img/front_page/liketoswim.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:blue">
            <img src="assets/img/front_page/fun.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:red">
            <img src="assets/img/front_page/team-name.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:orange">
            <img src="assets/img/front_page/logo.png" class="fit">
        </app-mat-expandingbox>
    </app-mat-expandingboxwrapper>

    <app-mat-expandingboxwrapper class="footer" [allowExpansion]="false" [cols]="mobileQuery.matches ? 2 : 4"
        rowHeight="10em">

        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:purple">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">Download Registration
                    <a href="assets/pdf/registration.pdf">here</a>
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:purple">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">Contact Us at
                    <a [ngClass]="{'email': !mobileQuery.matches, 'mobile-email': mobileQuery.matches}" href="mailto:valenciasummitseals@gmail.com">valenciasummitseals@gmail.com</a>
                </p>
            </div>
        </app-mat-expandingbox>
    </app-mat-expandingboxwrapper>
</div>