<div>
    <app-mat-expandingboxwrapper class="header" [allowExpansion]="false" [cols]="mobileQuery.matches ? 1 : 1"
        [rowHeight]="mobileQuery.matches ? '10em' : '25em'">
    <!--<app-mat-expandingboxwrapper class="header" [allowExpansion]="false" [cols]="mobileQuery.matches ? 2 : 4"
        [rowHeight]="mobileQuery.matches ? '10em' : '25em'">-->
        <app-mat-expandingbox colspan="1" rowspan="1" style="background-color:#dcf2fd">
            <img src="assets/img/front_page/banner2019.png" class="fit">
        </app-mat-expandingbox>
        <!--<app-mat-expandingbox colspan="1" rowspan="1" style="background-color:#dcf2fd">
            <img src="assets/img/front_page/liketoswim.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:#ed008c">
            <img src="assets/img/front_page/fun.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:#ed008c">
            <img src="assets/img/front_page/team-name.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:#dcf2fd">
            <img src="assets/img/front_page/logo.png" class="fit">
        </app-mat-expandingbox>
    -->
    </app-mat-expandingboxwrapper>
<!-- Alternate the following expanding boxes with #b7e6fa and #dcf2fd, starting with former -->
    <app-mat-expandingboxwrapper class="footer" [allowExpansion]="false" [cols]="mobileQuery.matches ? 2 : 4"
        [rowHeight]="mobileQuery.matches ? '5em' : '10em'">
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#dcf2fd">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">
                    Registration-related forms:
                </p>
                <p>- <a href="assets/pdf/SummitSealsCashierSheet2019.pdf">2019 Cashier Sheet</a></p>
                <p>- <a href="assets/pdf/SantaClaritaSwimLeagueRulesandRegulations.pdf">Santa Clarita Swim League Rules and Regulations</a></p>
                <p>- <a href="assets/pdf/SCSwimLeagueBylaws2014.pdf">Santa Clarita Swim League Bylaws</a></p>
                <p>    Files updated 04/19/2019.
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}"> 
                    2019 First Registration: Sunday, April 28, 9AM-NOON at the HOA Clubhouse.
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#dcf2fd">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}"> 
                    2019 Second Registration: Wednesday, May 8, 6-8PM at the HOA Clubhouse (possibly with Food Trucks?!)
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">
                    2019 New Parent Orientation, Wednesday, May 1, 7-8PM at the HOA Clubhouse
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#dcf2fd">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}"> 
                    Purchase swimsuits with the "green" color option at <a href="https://www.swimoutlet.com/summitseals/">https://www.swimoutlet.com/summitseals/</a>.
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">If you are interested
                    in being a 2019 sponsor, please download more information 
                    <a href="assets/pdf/sponsor.pdf">here</a>.
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">Contact Us at
                    <a [ngClass]="{'email': !mobileQuery.matches, 'mobile-email': mobileQuery.matches}" href="mailto:valenciasummitseals@gmail.com">valenciasummitseals@gmail.com</a>
                </p>
            </div>
        </app-mat-expandingbox>
    </app-mat-expandingboxwrapper>
</div>