<div>
    <app-mat-expandingboxwrapper class="header" [allowExpansion]="false" [cols]="mobileQuery.matches ? 2 : 4"
        [rowHeight]="mobileQuery.matches ? '10em' : '25em'">
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:#dcf2fd">
            <img src="assets/img/front_page/liketoswim.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:#ed008c">
            <img src="assets/img/front_page/fun.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:#ed008c">
            <img src="assets/img/front_page/team-name.png" class="fit">
        </app-mat-expandingbox>
        <app-mat-expandingbox colspan="2" rowspan="1" style="background-color:#dcf2fd">
            <img src="assets/img/front_page/logo.png" class="fit">
        </app-mat-expandingbox>
    </app-mat-expandingboxwrapper>
<!-- Alternate the following expanding boxes with #b7e6fa and #dcf2fd, starting with former -->
    <app-mat-expandingboxwrapper class="footer" [allowExpansion]="false" [cols]="mobileQuery.matches ? 2 : 4"
        [rowHeight]="mobileQuery.matches ? '5em' : '15em'">
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">If you are interested
                    in being a 2018 sponsor, please download more information 
                    <a href="assets/pdf/sponsor.pdf">here</a>.
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#dcf2fd">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}"> 
                    2018 Registration: Saturday, April 7, 10AM-1PM at the HOA Clubhouse
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}"> 
                    LATE Registration: Saturday, April 21, 10AM-1PM at the HOA Clubhouse
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#dcf2fd">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}"> 
                    LATEST Registration: Wednesday, May 2, 5-8PM at the HOA Clubhouse (with Food Trucks!)
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">
                    New Parent Orientation, Wednesday, May 2, 6-6:30PM at the HOA Clubhouse (with Food Trucks!)
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#dcf2fd">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">
                    Please download and fill out the 2018 registration packet <a href="assets/zip/sealsreg2018.zip">here</a>.
                    Files updated 04/12/2018.
                </p>
            </div>
        </app-mat-expandingbox>
        <app-mat-expandingbox [colspan]="mobileQuery.matches ? 2 : 4 " rowspan="1" style="background-color:#b7e6fa">
            <div>
                <p [ngClass]="{'text': !mobileQuery.matches, 'mobile-text': mobileQuery.matches}">Contact Us at
                    <a [ngClass]="{'email': !mobileQuery.matches, 'mobile-email': mobileQuery.matches}" href="mailto:valenciasummitseals@gmail.com">valenciasummitseals@gmail.com</a>
                </p>
            </div>
        </app-mat-expandingbox>
    </app-mat-expandingboxwrapper>
</div>