<!--<form>
  <label for="fname">First Name</label>
  <input type="text" id="fname" name="fname">
  <label for="lname">Last Name</label>
  <input type="text" id="lname" name="lname">
</form>-->

<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div *ngFor="let row of questions" class="form-row">
        <div *ngFor="let question of row">
        <app-question [question]="question" [form]="form"></app-question>
      </div>
      </div>
      <div class="form-row">
        <button type="submit">Submit</button>
      </div>
      <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br/>{{payLoad}}
      </div>
  
    </form>
  </div>