.event-container{
    width:100%;
    height:100%;
    background-color: white;
    margin-top:10px;
    }

    
    .event-image{
        max-height:96px;
    }

    .event-left{
        color:white;
        background-color:lightcoral;
        height:100%;
        min-width:25%;
    }
    
    .event-left .text {
        
        text-align: center;
        font-family:"Arial Black", Gadget, sans-serif;
    }
    
    .event-left .date {
        color:white;
        text-align: center;
        font-family:"Arial Black", Gadget, sans-serif;
    }

    .row.no-gutters {
        margin-right: 0;
        margin-left: 0;
      }
      .row.no-gutters > [class^="col-"],
      .row.no-gutters > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
        margin-top:0;
        margin-left:0;
      }

      /* ====== media object ====== */
.media {
    margin-right:10px;
    width: 100%;
  }
  
  .media, .media-body {overflow:hidden; _overflow:visible; zoom:1;}
  .media-figure {float:left; margin-right: 10px;}
  .media .media-altfigure{float:right; margin-left: 10px;}
  
  .iphone {
    width: 340px;
    height: 688px;
    border: 10px solid #333;
    border-bottom-width: 60px;
    border-top-width: 60px;
    border-radius: 25px;
    margin: 2em auto;
  }
  .truncate {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  .modal-header {
    width: 100%;
    height: 50px;
    background: #ccc;
  }
  button {
    height: 50px;
    width: 50px;
  }