.event-container{
    width:20em;
    padding-bottom:.5em;
    padding-top:.5em;
    }
    
    .event-left{
        color:white;
        background-color:green;
    }
    
    .event-right{
    
    }

    .title-card{
        
    }