<div class="container wrapper" style="width:100%;height:100%">
   
    <div class="header">
      <h2>{{eventData.title}}</h2>
      <img class="event-image align-self-start" *ngIf="eventData.img" [src]="eventData.img" alt="Generic placeholder image">
      
    </div>
    <div class="header">
      {{eventData.fullStartDate}} - {{eventData.fullEndDate}}
    </div>
    <div>
      <p>{{eventData.details}}</p>
    </div>
    <div>
      <button type="button" (click)="closeDetails()" >Close </button>
    </div>
</div>