<mat-grid-list [cols]="4" rowHeight="25em">
  <mat-grid-tile colspan="2" rowspan="1" style="background-color:yellow">
      <app-scrolling-table style="height:100%"></app-scrolling-table>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" style="background-color:red">
    <app-scrolling-panel style="height:100%;width:100%;">
        <div *ngFor="let test of temp" sBody>
        <app-event-row [eventData]="test"></app-event-row>
        </div>
      </app-scrolling-panel>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" style="background-color:blue">
      testaroonie
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1" style="background-color:green">
      testaroonie
  </mat-grid-tile>
</mat-grid-list>

